{% extends 'base.html' %}
{% block title %}
        <title>{{ title }}</title>
{% endblock %}
{% block head %}
        <meta name="desciption" content="Mapmyindia Place Picker Plugin">
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <header>
        <div class="main">
            <!-- <div class="logo">
                <img src="static\pictures\logo.png">
            </div> -->
            <ul>
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/calculator">Solar Calculator</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </div>
        <div class = "block">
            <div class="title">
                <h1>SOLAR<br>FUTURE</h1>
            </div>
            <div class="button">
                <a href="/calculator" class="btn">Solar Calculator</a>
                <a href="#" class="btn">Project Report</a>
            </div>
        </div>
    </header>
{% endblock %}